{% extends "./base/base.html" %}
{% block main %}
    <div class="space-y-6">
        <div class="flex flex-col space-y-6">
            <div class="">
                <h1 class="text-6xl font-bold">About</h1>
            </div>
            <div class="">
                <p class="text-neutral-400">Hey! You're probably here to find out more about my tastes. I won't ramble too much,
                    below you have a list of my top 6 films, music albums & books in that order. Feel
                    free to skim through it to get to know me better!
                </p>
            </div>
        </div>
        <div class="flex flex-col space-y-6">
            <div class="">
                <h2 class="text-3xl font-bold">Film</h2>
            </div>
            <div class="">
                <p class="text-neutral-400">I have fallen in love with film over the last couple of years,
                    and my tastes have became more refine as time went on. Below you
                    can find my current favourite films of all time.
                </p>
            </div>
            <div class="grid md:grid-cols-3 md:grid-rows-2 sm:grid-cols-2 sm:grid-rows-3 gap-y-6">
                <div class="">
                    <div class="">
                        <img class="h-64 w-48 rounded-lg" src="{{ url_for('static', filename='/img/film/taxi_driver.jpg') }}" alt="">
                    </div>
                    <div class="py-2">
                        <h2 class="text-md font-semibold">Taxi Driver</h2>
                    </div>
                </div>
                <div class="">
                    <div class="">
                        <img class="h-64 w-48 rounded-lg" src="{{ url_for('static', filename='/img/film/good_fellas.jpg') }}" alt="">
                    </div>
                    <div class="py-2">
                        <h2 class="text-md font-semibold">Goodfellas</h2>
                    </div>
                </div>
                <div class="">
                    <div class="">
                        <img class="h-64 w-48 rounded-lg" src="{{ url_for('static', filename='/img/film/fight_club.jpg') }}" alt="">
                    </div>
                    <div class="py-2">
                        <h2 class="text-md font-semibold">Fight Club</h2>
                    </div>
                </div>
                <div class="">
                    <div class="">
                        <img class="h-64 w-48 rounded-lg" src="{{ url_for('static', filename='/img/film/barry_lyndon.jpg') }}" alt="">
                    </div>
                    <div class="py-2">
                        <h2 class="text-md font-semibold">Barry Lyndon</h2>
                    </div>
                </div>
                <div class="">
                    <div class="">
                        <img class="h-64 w-48 rounded-lg" src="{{ url_for('static', filename='/img/film/children_of_men.jpg') }}" alt="">
                    </div>
                    <div class="py-2">
                        <h2 class="text-md font-semibold">Children of Men</h2>
                    </div>
                </div>
                <div class="">
                    <div class="">
                        <img class="h-64 w-48 rounded-lg" src="{{ url_for('static', filename='/img/film/la_haine.jpg') }}" alt="">
                    </div>
                    <div class="py-2">
                        <h2 class="text-md font-semibold">La Haine</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-col space-y-4">
            <div class="">
                <h2 class="text-3xl font-bold">Music</h2>
            </div>
            <div class="">
                <p class="text-neutral-400">I love music, even much more than film. I use spotify daily, mostly in the afternoons until night, however
                    I do indulge in some lofi hip-hop in the morning. Below you can see my favourite
                    music albums of all time.
                </p>
            </div>
            <div class="grid md:grid-cols-3 md:grid-rows-2 sm:grid-cols-2 sm:grid-rows-3 gap-y-6">
                <div class="">
                    <div class="">
                        <img class="h-48 w-48 rounded-lg" src="{{ url_for('static', filename='/img/albums/mbdtf.jpg') }}" alt="">
                    </div>
                    <div class="py-2">
                        <h2 class="text-md font-semibold">My Beautiful Dark Twisted Fantasy</h2>
                    </div>
                </div>
                <div class="">
                    <div class="">
                        <img class="h-48 w-48 rounded-lg" src="{{ url_for('static', filename='/img/albums/madvillain.jpg') }}" alt="">
                    </div>
                    <div class="py-2">
                        <h2 class="text-md font-semibold">Madvillain</h2>
                    </div>
                </div>
                <div class="">
                    <div class="">
                        <img class="h-48 w-48 rounded-lg" src="{{ url_for('static', filename='/img/albums/atrocity_exhibition.jpg') }}" alt="">
                    </div>
                    <div class="py-2">
                        <h2 class="text-md font-semibold">Atrocity Exhibition</h2>
                    </div>
                </div>
                <div class="">
                    <div class="">
                        <img class="h-48 w-48 rounded-lg" src="{{ url_for('static', filename='/img/albums/slauson_malone.jpg') }}" alt="">
                    </div>
                    <div class="py-2">
                        <h2 class="text-md font-semibold">Vergangenheitsbewältigung</h2>
                    </div>
                </div>
                <div class="">
                    <div class="">
                        <img class="h-48 w-48 rounded-lg" src="{{ url_for('static', filename='/img/albums/blonde.jpg') }}" alt="">
                    </div>
                    <div class="py-2">
                        <h2 class="text-md font-semibold">Blonde</h2>
                    </div>
                </div>
                <div class="">
                    <div class="">
                        <img class="h-48 w-48 rounded-lg" src="{{ url_for('static', filename='/img/albums/808s.jpg') }}" alt="">
                    </div>
                    <div class="py-2">
                        <h2 class="text-md font-semibold">808s & Heartbreak</h2>
                    </div>
                </div>
            </div>
        <div class="flex flex-col space-y-4">
            <div class="">
                <h2 class="text-3xl font-bold">Books</h2>
            </div>
            <div class="">
                <p class="text-neutral-400">As much as I love the two art forms above, this one has made the most
                    drastic change in my personality, life, and all else. I should read more.
                    See below for my favourite books I've ever read.
                </p>
            </div>
            <div class="flex flex-col space-y-4">
                <div class="grid md:grid-cols-3 md:grid-rows-2 sm:grid-cols-2 sm:grid-rows-3 gap-y-6">
                    <div class="">
                        <div class="">
                            <img class="h-64 w-42 rounded-lg" src="{{ url_for('static', filename='/img/book/1984.jpg') }}" alt="">
                        </div>
                        <div class="py-2">
                            <h2 class="text-md font-semibold">1984</h2>
                        </div>
                    </div>
                    <div class="">
                        <div class="">
                            <img class="h-64 w-42 rounded-lg" src="{{ url_for('static', filename='/img/book/howtohidee.jpg') }}" alt="">
                        </div>
                        <div class="py-2">
                            <h2 class="text-md font-semibold">How to Hide an Empire</h2>
                        </div>
                    </div>
                    <div class="">
                        <div class="">
                            <img class="h-64 w-42 rounded-lg" src="{{ url_for('static', filename='/img/book/sapiens.jpg') }}" alt="">
                        </div>
                        <div class="py-2">
                            <h2 class="text-md font-semibold">Sapiens</h2>
                        </div>
                    </div>
                    <div class="">
                        <div class="">
                            <img class="h-64 w-42 rounded-lg" src="{{ url_for('static', filename='/img/book/steve_jobs.jpg') }}" alt="">
                        </div>
                        <div class="py-2">
                            <h2 class="text-md font-semibold">Steve Jobs</h2>
                        </div>
                    </div>
                    <div class="">
                        <div class="">
                            <img class="h-64 w-42 rounded-lg" src="{{ url_for('static', filename='/img/book/technological_slavery.jpg') }}" alt="">
                        </div>
                        <div class="py-2">
                            <h2 class="text-md font-semibold">Technological Slavery</h2>
                        </div>
                    </div>
                    <div class="">
                        <div class="">
                            <img class="h-64 w-42 rounded-lg" src="{{ url_for('static', filename='/img/book/bravenewworld.jpg') }}" alt="">
                        </div>
                        <div class="py-2">
                            <h2 class="text-md font-semibold">Brave New World</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}