{% extends "./base/base.html" %}
{% block main %}
    <div class="space-y-6">
        <div class="flex flex-col space-y-6">
            <div class="">
                <h1 class="text-6xl font-bold">About</h1>
            </div>
            <div class="">
                <p class="text-neutral-400">Hey! You're probably here to find out more about my tastes. I won't ramble too much,
                    below you have a list of my top 6 films, music albums & books in that order. Feel
                    free to skim through it to get to know me better!
                </p>
            </div>
        </div>
        <div class="flex flex-col space-y-6">
            <div class="">
                <h2 class="text-3xl font-bold">Film</h2>
            </div>
            <div class="">
                <p class="text-neutral-400">I have fallen in love with film over the last couple of years,
                    and my tastes have became more refine as time went on. Below you
                    can find my current favourite films of all time.
                </p>
            </div>
            <div class="grid grid-cols-2 grid-rows-3 md:grid-cols-3 md:grid-rows-2 sm:grid-cols-2 sm:grid-rows-3 gap-6">
                {% for film in films %}
                    <div class="">
                        <div class="">
                            <img class="h-64 w-48 rounded-lg" src="{{ film[0] }}" alt="">
                        </div>
                        <div class="py-2">
                            <h2 class="text-md font-semibold">{{ film[1] }}</h2>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="flex flex-col space-y-4">
            <div class="">
                <h2 class="text-3xl font-bold">Music</h2>
            </div>
            <div class="">
                <p class="text-neutral-400">I love music, even much more than film. I use spotify daily, mostly in the afternoons until night, however
                    I do indulge in some lofi hip-hop in the morning. Below you can see my favourite
                    music albums of all time.
                </p>
            </div>
            <div class="grid grid-cols-2 grid-rows-3 md:grid-cols-3 md:grid-rows-2 sm:grid-cols-2 sm:grid-rows-3 gap-6">
                {% for album in albums %}
                    <div class="">
                        <div class="">
                            <img class="h-48 w-48 rounded-lg" src="{{ album[0] }}" alt="">
                        </div>
                        <div class="py-2">
                            <h2 class="text-md font-semibold">{{ album[1] }}</h2>
                        </div>
                    </div>
                {% endfor %}
            </div>
        <div class="flex flex-col space-y-4">
            <div class="">
                <h2 class="text-3xl font-bold">Books</h2>
            </div>
            <div class="">
                <p class="text-neutral-400">As much as I love the two art forms above, this one has made the most
                    drastic change in my personality, life, and all else. I should read more.
                    See below for my favourite books I've ever read.
                </p>
            </div>
            <div class="flex flex-col space-y-4">
                <div class="grid grid-cols-2 grid-rows-3 md:grid-cols-3 md:grid-rows-2 sm:grid-cols-2 sm:grid-rows-3 gap-6">
                    {% for book in books %}
                        <div class="">
                            <div class="">
                                <img class="h-64 w-42 rounded-lg" src="{{ book[0] }}" alt="">
                            </div>
                            <div class="py-2">
                                <h2 class="text-md font-semibold">{{ book[1] }}</h2>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}