{% extends "./base/base.html" %}
{% block title %}
    <title>Blog</title>
{% endblock %}
{% block main %}
    <div class="flex flex-col space-y-8">
        <h1 class="xs:text-6xl font-bold xxs:text-4xl">Blog</h1>
        <div class="flex flex-col space-y-6">
            <a href="blog/oauth-twitch" rel="noopener">
                <div class="border border-neutral-800 rounded-lg p-4 hover:border-red-600 transition duration-300 ease-in-out">
                    <h2 class="xs:text-lg font-semibold xxs:text-md">Manual Twitch OAuth Authentication in Flask</h2>
                    <div class="mt-2">
                        <p class="xs:text-md xxs:text-sm text-neutral-400">
                            An elegant & quick solution to Twitch OAuth Authentication in Flask,
                            including a primer on Environment Variables and Virtual Environments.
                        </p>
                    </div>   
                </div>
            </a>
        </div>
    </div>
{% endblock %}