{% extends "./base/base.html" %}
{% block main %}
    <div class="space-y-6">
        <div class="flex flex-col space-y-6">
            <div class="space-y-2">
                <h1 class="text-6xl font-bold">Hey, I'm Kamil 👋</h1>
            </div>
            <div class="space-y-4">
                <p class="text-neutral-400">
                    I'm a 21 year old <span class="font-bold">software engineering</span> student from Poland, residing in the United Kingdom for over a decade. I'm mainly interested
                    in developing backend systems, whether it's web-related or otherwise. Passionate about performant, maintainable code.
                </p>
            </div>
            <div class="flex flex-row space-x-2">
                <a href="https://github.com/k9mil" target="_blank">
                    <img class="h-12 w-12 p-2" src="{{ url_for('static', filename='/img/github.svg') }}" alt="">
                </a>
                <a href="https://twitter.com/joebiden" target="_blank">
                    <img class="h-12 w-12 p-3" src="{{ url_for('static', filename='/img/twitter.svg') }}" alt="">
                </a>
                <a href="https://discord.com/users/886739001812332564" target="_blank">
                    <img class="h-12 w-12 p-2" src="{{ url_for('static', filename='/img/discord.svg') }}" alt="">
                </a>
                <a href="mailto:hi@kamilcodes.com" target="_blank">
                    <img class="h-12 w-12 p-3" src="{{ url_for('static', filename='/img/mail.svg') }}" alt="">
                </a>
            </div>
        </div>
        <div class="flex flex-col space-y-6">
            <div>
                <h2 class="text-2xl font-bold">Who am I?</h2>
            </div>
            <div class="space-y-4">
                <p class="text-neutral-400">
                    Currently a 2nd year BSc student at Strathclyde University located in Glasgow, and exploring Python as well as Golang in my free time,
                    in which I have made a couple of open source projects already. Everything I make is public,
                    as I truly believe access to information should be free and available to the public. If you want to find out more about me, 
                    head over to the <a href="{{ url_for('main.about') }}" class="text-neutral-300 hover:text-red-600 transition duration-300 ease-in-out font-bold">about</a> section,
                    otherwise if you want to take a peep at my projects, head over to <a href="{{ url_for('main.about') }}" class="text-neutral-300 hover:text-red-600 transition duration-300 ease-in-out font-bold">projects</a>.
                </p>
            </div>
        </div>
        <div class="flex flex-col space-y-6">
            <div>
                <h2 class="text-2xl font-bold">Technologies</h2>
            </div>
            <div class="space-y-4">
                <p class="text-neutral-400">
                    I use a variety of different technologies, depending on the task at hand, everything from
                    MongoDB, to Docker to TailwindCSS. If you wish to find out more about the technologies I use, see <a href="{{ url_for('main.technologies') }}" class="text-neutral-300 hover:text-red-600 transition duration-300 ease-in-out font-bold">technologies</a>.
                </p>
            </div>
        </div>
    </div>
{% endblock %}