{% extends "./base/base.html" %}
{% block main %}
    <div class="space-y-12">
        <div class="flex flex-col space-y-4">
            <div class="">
                <h1 class="text-6xl font-bold">Projects</h1>
            </div>
        </div>
        <div class="flex flex-col space-y-6">
            <a href="">
                <div class="border border-neutral-800 rounded-lg p-4 hover:border-red-600 transition duration-300 ease-in-out">
                    <div class="">
                        <h2 class="text-lg font-semibold">🗺️ statum</h2>
                    </div>
                    <div class="mt-2">
                        <p>A Twitch streamer-related website. Written in Python + Flask, with MongoDB. Current features include Twitch OAuth integration, personalized dashboard, unique streamer insights & much more.</p>
                    </div>   
                </div>
            </a>
            <a href="">
                <div class="border border-neutral-800 rounded-lg p-4 hover:border-red-600 transition duration-300 ease-in-out">
                    <div class="">
                        <h2 class="text-lg font-semibold">👁️ Oculus</h2>
                    </div>
                    <div class="mt-2">
                        <p>Unmaintained camera scraper for Allegro & OLX to try and catch low priced cameras at user-set prices.</p>
                    </div>   
                </div>
            </a>
            <a href="">
                <div class="border border-neutral-800 rounded-lg p-4 hover:border-red-600 transition duration-300 ease-in-out">
                    <div class="">
                        <h2 class="text-lg font-semibold">🦅 eagle</h2>
                    </div>
                    <div class="mt-2">
                        <p>A simple, fast, and fun CLI-based application which functions as a helper to find answers to your programming questions!</p>
                    </div>   
                </div>
            </a>
            <a href="">
                <div class="border border-neutral-800 rounded-lg p-4 hover:border-red-600 transition duration-300 ease-in-out">
                    <div class="">
                        <h2 class="text-lg font-semibold">⚡ kamil.codes</h2>
                    </div>
                    <div class="mt-2">
                        <p>My personal web(site) created with Flask, TailwindCSS and nginx.</p>
                    </div>   
                </div>
            </a>
        </div>
    </div>
{% endblock %}