{% extends "./base/base.html" %}
{% block main %}
    <div class="space-y-12">
        <h1 class="text-6xl font-bold">Projects</h1>
        <div class="flex flex-col space-y-6">
            {% for project in projects %}
                <a href="{{ project[2] }}" target="_blank" rel="noopener">
                    <div class="border border-neutral-800 rounded-lg p-4 hover:border-red-600 transition duration-300 ease-in-out">
                        <h2 class="text-lg font-semibold">{{ project[0] }}</h2>
                        <div class="mt-2">
                            <p>{{ project[1] }}</p>
                        </div>   
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}