{% extends "./base/base.html" %}
{% block main %}
    <div class="flex flex-col space-y-8">
        <div class="flex flex-col space-y-6">
            <h1 class="text-6xl font-bold">Technologies</h1>
            <p class="text-neutral-400">I use a wide variety of technologies, depending on the task at hand. I have the most
                experience with Python, though, as you may have read on the front page — my Golang understanding is growing pretty fast!
                Below you have a complete grid of technologies I've worked with in the past.
            </p>
        </div>
        {% for k, v in data.items() %}
            <div class="">
                <div class="grid xxs:grid-cols-2 xs:grid-cols-3 md:grid-cols-4 gap-3">
                    {% for i in v %}
                        <div class="flex flex-row">
                            {{ i[1]|safe }}
                            <h2 class="font-semibold text-sm ml-2 self-center">{{ i[0] }}</h2>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}