<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;700&display=swap" rel="stylesheet">
    <title>kamil.codes</title>
</head>
<body class="bg-black">
    <div class="mx-auto max-w-2xl text-white flex flex-col space-y-16 mt-16">
        <div class="items-center space-x-4 sm:flex">
            <a href="{{ url_for('main.index') }}" class="hover:text-red-600 transition duration-300 ease-in-out">
                home
            </a>
            <a href="{{ url_for('main.projects') }}" class="hover:text-red-600 transition duration-300 ease-in-out">
                projects
            </a>
            <a href="{{ url_for('main.about') }}" class="hover:text-red-600 transition duration-300 ease-in-out">
                about
            </a>
            <a href="{{ url_for('main.blog') }}" class="hover:text-red-600 transition duration-300 ease-in-out">
                blog
            </a>
        </div>
        {% block main %}
        {% endblock %}
    </div>
</body>
</html>